<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tictactoe</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">tictactoe</a>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="privacypolicy.html">Privacy Policy</a>
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    </header>
    <script>
    let navbar = document.querySelector('.navbar');
    
    document.querySelector('#menu-btn').onclick = () =>{
        navbar.classList.toggle('active');
    
    }
    
    window.onscroll = () =>{
        navbar.classList.remove('active');
    }
    </script>

    <div ng-app="app" ng-controller="TicTacToeCtrl">

        <table id="scoreboard" align="center">
          <tr>
            <td> Player 1</td>
            <td width="30"> &nbsp; </td>
            <td> Player 2 </td>
          </tr>
          <tr>
            <td class="score" id="player1"> 
              {{game.scores.X}}
            </td>
            <td> &nbsp; </td>
            <td class="score" id="player2">
              {{game.scores.O}}
            </td>
          </tr>
        </table>
      
      
        <table align="center" id="tic-tac-toe">
          <tr ng-repeat="(row_index, row) in game.dummyArray track by $index">
            <td ng-repeat="(column_index, column) in game.dummyArray track by $index" 
                ng-click="game.mark(row_index, column_index)"
                class="{{game.data[row_index+''+column_index]}}">
              {{game.data[row_index+''+column_index]}}
            </td>
          </tr>
        </table>
      
        <button ng-click="game.init()">Reset</button>
      
        <select ng-model="game.grid_size"
                ng-options="option.value as option.label for option in grid_options"
                ng-change="game.init()">
        </select>
      
      </div>

    <script src="main.js"></script>
</body>
</html>